<nav [class.open]="menuOpen()">
  <a class="logo" routerLink="/" (click)="close()">
      <div class="row-container vertically-centered logo-container">
        <div class="gradient-logo-open" style="width: 50px; margin-right: 3px;"></div>
        <div class="column-container">
          <span class="logo-main">{{ site.brand }}</span>
          <span class="logo-legal">{{ site.legalName }} </span>
        </div>
      </div>
  </a>

  <button class="hamburger" type="button"
          [attr.aria-expanded]="menuOpen()"
          aria-label="Toggle navigation menu"
          aria-controls="nav-collapse"
          (click)="toggle()">
    <span></span><span></span><span></span>
  </button>

  <div class="nav-collapse" id="nav-collapse">
    <ul class="nav-links">
      @for (link of links; track link.href) {
        <li><a routerLink="/" [fragment]="link.href" (click)="close()">{{ link.label }}</a></li>
      }
    </ul>
    <a routerLink="/" fragment="contact" class="nav-cta" (click)="close()">Get in Touch</a>
  </div>
</nav>
